body{
    margin: 0px;
    padding: 0px;
    background-color:blueviolet
    }
    /*
    Base- container of all div. on the html
    Start Here
    */
    .base{
    width: 1200px;
    height:650px;
    float:left;
    background-image: url("maxresdefault.jpg");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    background-color: aqua;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left:160px;
    font-size:55;
}
.tcon1{
    text-shadow: 4px 4px black;
    width:360px;
    height: 110px;
    margin-top: 50px;
    margin-left: 220px;
    font-size:90;
    -webkit-animation: fadein1 2s;
}
.tcon2{
    text-shadow:4px 4px black;
    width:360px;
    height: 110px;
    margin-top:-200px;
    margin-left: 600px;
    font-size:90;
    -webkit-animation: fadein2 6s;
}
.tcon3{
    text-shadow: 4px 4px black;
    width:240px;
    height: 110px;
    margin-top:-80px;
    margin-left: 470px;
    font-size:90;
    -webkit-animation: fadein3 8s;
}
/*Ends Here*/
/*
Main button alignment
Start Here:
*/
.bconts{
    width:200px;
    height: 300px;
    margin-top:50px;
    margin-left: 485px;
}
/*Ends Here:*/




/*Container for instruction */
/*Start Here*/
#ins{
    text-shadow:2px 2px pink;
    display:none;
    background-color: rgba(255, 255, 255, 0.534);
    width: 800px;
    text-align: center;
    height:550px;
    border-left: 20px solid green;
    border-right: 20px solid green;
    border-top: 20px solid green;
    border-bottom: 20px solid green;
    margin-top: 30px;
    margin-left:190px;
    font-size: 18;
    color: black;
}
/*Ends Here*/
/*Score Display*/
.scores{ 
    text-align: center;
    font-size:28;
    text-decoration: none;
    color:Red; 
    border-left: 20px solid green;
    border-right: 20px solid green;
    border-top: 20px solid green;
    border-bottom: 20px solid green;
}
#answer{
    border-left: 20px solid green;
    border-right: 20px solid green;
    border-top: 20px solid green;
    border-bottom: 20px solid green;
    font-size: 28;
    font-weight: bold;
}
/*Container for Lvl1*/
/*Start Here*/
#scorecont{
    border-left: 20px solid green;
    border-top: 20px solid green;
    border-right: 20px solid green;
    border-bottom: 20px solid green;
    text-shadow:2px 1px green;   
    display:none;
    height:610px;
    width: 240px;
    background-color: rgba(255, 254, 251, 0.397);
    float:left;
}
.score{ 
    text-align: center;
    font-size:50;
    text-decoration: none;
    color:Red; 
}

#lvl1{
    display:none;
    width: 850px;
    border-left: 20px solid green;
    border-right: 20px solid green;
    border-top: 20px solid green;
    border-bottom: 20px solid green;
    padding:15px 25px;
    height:580px;
    margin-top: 0px;
    margin-left:260px;
   color: brown;   
   font-size: 25;
    text-shadow:1px 1px green;
}
.lvl1topcont{
    width: 900px;
    height: 382px;
    float: left;
    text-align: center;
    background-color: rgb(244, 247, 252);
    margin-top: -16px;
    margin-left: -25px;     
    font-size: 60;
}
.lvl1text1{
    height:82px;
    width: 190px;
    float: left;
    margin-top:0px;
}
.lvl1text2{
    height:300px;
    width: 900px;
    text-align: center;
    float: left;
    font-size: 70;
    margin-top:-30px;
}
.lvl1botcont{
    width: 900px;
    height: 230px;
    background-color: rgba(0, 0, 0, 0.705);
    float:left;
    margin-left: -25px;
    
}
.lvl1botcont1{
    width: 900px;
    height: 170px;
    float:left;
    margin-top: 50px;
    margin-left: -25px;
}

/*Ends Here*/

/*Container for Lvl1*/
/*Start Here*/
#lvl2{
    display:none;
    width: 850px;
    border-left: 20px solid green;
    border-right: 20px solid green;
    border-top: 20px solid green;
    border-bottom: 20px solid green;
    padding:15px 25px;
    height:580px;
    margin-top: 0px;
    margin-left:260px;
   color: brown;   
   font-size: 25;
    text-shadow:1px 1px green;
}
.lvl2topcont{
    width: 900px;
    height: 382px;
    float: left;
    text-align: center;
    background-color: rgb(244, 247, 252);
    margin-top: -16px;
    margin-left: -25px;     
    font-size: 60;
}
.lvl2text1{
    height:82px;
    width: 190px;
    float: left;
    margin-top:0px;
}
.lvl2text2{
    height:300px;
    width: 900px;
    text-align: center;
    float: left;
    font-size: 70;
    margin-top:-30px;
}
.lvl2botcont{
    width: 900px;
    height: 230px;
    background-color: rgba(0, 0, 0, 0.705);
    float:left;
    margin-left: -25px;
    
}
.lvl2botcont1{
    width: 900px;
    height: 170px;
    float:left;
    margin-top: 50px;
    margin-left: -25px;
}
/*Ends Here*/

/*Level 3*/
/*Start Here*/
#lvl3{
    display:none;
    width: 850px;
    border-left: 20px solid green;
    border-right: 20px solid green;
    border-top: 20px solid green;
    border-bottom: 20px solid green;
    padding:15px 25px;
    height:580px;
    margin-top: 0px;
    margin-left:260px;
   color: brown;   
   font-size: 25;
    text-shadow:1px 1px green;
}
.lvl3topcont{
    width: 900px;
    height: 382px;
    float: left;
    text-align: center;
    background-color: rgb(244, 247, 252);
    margin-top: -16px;
    margin-left: -25px;     
    font-size: 60;
}
.lvl3text1{
    height:82px;
    width: 190px;
    float: left;
    margin-top:0px;
}
.lvl3text2{
    height:300px;
    width: 900px;
    text-align: center;
    float: left;
    font-size: 70;
    margin-top:-30px;
}
.lvl3botcont{
    width: 900px;
    height: 230px;
    background-color: rgba(0, 0, 0, 0.705);
    float:left;
    margin-left: -25px;
    
}
.lvl3botcont1{
    width: 900px;
    height: 170px;
    float:left;
    margin-top: 50px;
    margin-left: -25px;
}
/*Ends Here*/

/*Level 4*/
/*Start Here*/
#lvl4{
    display:none;
    width: 850px;
    border-left: 20px solid green;
    border-right: 20px solid green;
    border-top: 20px solid green;
    border-bottom: 20px solid green;
    padding:15px 25px;
    height:580px;
    margin-top: 0px;
    margin-left:260px;
   color: brown;   
   font-size: 25;
    text-shadow:1px 1px green;
}
.lvl4topcont{
    width: 900px;
    height: 382px;
    float: left;
    text-align: center;
    background-color: rgb(244, 247, 252);
    margin-top: -16px;
    margin-left: -25px;     
    font-size: 60;
}
.lvl4text1{
    height:82px;
    width: 190px;
    float: left;
    margin-top:0px;
}
.lvl4text2{
    height:300px;
    width: 900px;
    text-align: center;
    float: left;
    font-size: 70;
    margin-top:-30px;
}
.lvl4botcont{
    width: 900px;
    height: 230px;
    background-color: rgba(0, 0, 0, 0.705);
    float:left;
    margin-left: -25px;
    
}
.lvl4botcont1{
    width: 900px;
    height: 170px;
    float:left;
    margin-top: 50px;
    margin-left: -25px;
}/*Ends Here*/

/*Level 5*/
/*Start Here*/
#lvl5{
    display:none;
    width: 850px;
    border-left: 20px solid green;
    border-right: 20px solid green;
    border-top: 20px solid green;
    border-bottom: 20px solid green;
    padding:15px 25px;
    height:580px;
    margin-top: 0px;
    margin-left:260px;
   color: brown;   
   font-size: 25;
    text-shadow:1px 1px green;
}
.lvl5topcont{
    width: 900px;
    height: 382px;
    float: left;
    text-align: center;
    background-color: rgb(244, 247, 252);
    margin-top: -16px;
    margin-left: -25px;     
    font-size: 60;
}
.lvl5text1{
    height:82px;
    width: 190px;
    float: left;
    margin-top:0px;
}
.lvl5text2{
    height:300px;
    width: 900px;
    text-align: center;
    float: left;
    font-size: 70;
    margin-top:-30px;
}
.lvl5botcont{
    width: 900px;
    height: 230px;
    background-color: rgba(0, 0, 0, 0.705);
    float:left;
    margin-left: -25px;
    
}
.lvl5botcont1{
    width: 900px;
    height: 170px;
    float:left;
    margin-top: 50px;
    margin-left: -25px;
}/*Ends Here*/

/*Level 6*/
/*Start Here*/
#lvl6{
    display:none;
    width: 850px;
    border-left: 20px solid green;
    border-right: 20px solid green;
    border-top: 20px solid green;
    border-bottom: 20px solid green;
    padding:15px 25px;
    height:580px;
    margin-top: 0px;
    margin-left:260px;
   color: brown;   
   font-size: 25;
    text-shadow:1px 1px green;
}
.lvl6topcont{
    width: 900px;
    height: 382px;
    float: left;
    text-align: center;
    background-color: rgb(244, 247, 252);
    margin-top: -16px;
    margin-left: -25px;     
    font-size: 60;
}
.lvl6text1{
    height:82px;
    width: 190px;
    float: left;
    margin-top:0px;
}
.lvl6text2{
    height:300px;
    width: 900px;
    text-align: center;
    float: left;
    font-size: 70;
    margin-top:-30px;
}
.lvl6botcont{
    width: 900px;
    height: 230px;
    background-color: rgba(0, 0, 0, 0.705);
    float:left;
    margin-left: -25px;
    
}
.lvl6botcont1{
    width: 900px;
    height: 170px;
    float:left;
    margin-top: 50px;
    margin-left: -25px;
}
/*Ends Here*/

/*Level 7*/
/*Start Here*/
#lvl7{
    display:none;
    width: 850px;
    border-left: 20px solid green;
    border-right: 20px solid green;
    border-top: 20px solid green;
    border-bottom: 20px solid green;
    padding:15px 25px;
    height:580px;
    margin-top: 0px;
    margin-left:260px;
   color: brown;   
   font-size: 25;
    text-shadow:1px 1px green;
}
.lvl7topcont{
    width: 900px;
    height: 382px;
    float: left;
    text-align: center;
    background-color: rgb(244, 247, 252);
    margin-top: -16px;
    margin-left: -25px;     
    font-size: 60;
}
.lvl7text1{
    height:82px;
    width: 190px;
    float: left;
    margin-top:0px;
}
.lvl7text2{
    height:300px;
    width: 900px;
    text-align: center;
    float: left;
    font-size: 70;
    margin-top:-30px;
}
.lvl7botcont{
    width: 900px;
    height: 230px;
    background-color: rgba(0, 0, 0, 0.705);
    float:left;
    margin-left: -25px;
    
}
.lvl7botcont1{
    width: 900px;
    height: 170px;
    float:left;
    margin-top: 50px;
    margin-left: -25px;
}/*Ends Here*/

/*Level 8*/
/*Start Here*/
#lvl8{
    display:none;
    width: 850px;
    border-left: 20px solid green;
    border-right: 20px solid green;
    border-top: 20px solid green;
    border-bottom: 20px solid green;
    padding:15px 25px;
    height:580px;
    margin-top: 0px;
    margin-left:260px;
   color: brown;   
   font-size: 25;
    text-shadow:1px 1px green;
}
.lvl8topcont{
    width: 900px;
    height: 382px;
    float: left;
    text-align: center;
    background-color: rgb(244, 247, 252);
    margin-top: -16px;
    margin-left: -25px;     
    font-size: 60;
}
.lvl8text1{
    height:82px;
    width: 190px;
    float: left;
    margin-top:0px;
}
.lvl8text2{
    height:300px;
    width: 900px;
    text-align: center;
    float: left;
    font-size: 70;
    margin-top:-30px;
}
.lvl8botcont{
    width: 900px;
    height: 230px;
    background-color: rgba(0, 0, 0, 0.705);
    float:left;
    margin-left: -25px;
    
}
.lvl8botcont1{
    width: 900px;
    height: 170px;
    float:left;
    margin-top: 50px;
    margin-left: -25px;
}
/*Ends Here*/

/*Level 9*/
/*Start Here*/
#lvl9{
    display:none;
    width: 850px;
    border-left: 20px solid green;
    border-right: 20px solid green;
    border-top: 20px solid green;
    border-bottom: 20px solid green;
    padding:15px 25px;
    height:580px;
    margin-top: 0px;
    margin-left:260px;
   color: brown;   
   font-size: 25;
    text-shadow:1px 1px green;
}
.lvl9topcont{
    width: 900px;
    height: 382px;
    float: left;
    text-align: center;
    background-color: rgb(244, 247, 252);
    margin-top: -16px;
    margin-left: -25px;     
    font-size: 60;
}
.lvl9text1{
    height:82px;
    width: 190px;
    float: left;
    margin-top:0px;
}
.lvl9text2{
    height:300px;
    width: 900px;
    text-align: center;
    float: left;
    font-size: 70;
    margin-top:-30px;
}
.lvl9botcont{
    width: 900px;
    height: 230px;
    background-color: rgba(0, 0, 0, 0.705);
    float:left;
    margin-left: -25px;
    
}
.lvl9botcont1{
    width: 900px;
    height: 170px;
    float:left;
    margin-top: 50px;
    margin-left: -25px;
}
/*Ends Here*/

/*Level 10*/
/*Start Here*/
#lvl10{
    display:none;
    width: 850px;
    border-left: 20px solid green;
    border-right: 20px solid green;
    border-top: 20px solid green;
    border-bottom: 20px solid green;
    padding:15px 25px;
    height:580px;
    margin-top: 0px;
    margin-left:260px;
   color: brown;   
   font-size: 25;
    text-shadow:1px 1px green;
}
.lvl10topcont{
    width: 900px;
    height: 382px;
    float: left;
    text-align: center;
    background-color: rgb(244, 247, 252);
    margin-top: -16px;
    margin-left: -25px;     
    font-size: 60;
}
.lvl10text1{
    height:82px;
    width: 230px;
    float: left;
    margin-top:0px;
}
.lvl10text2{
    height:300px;
    width: 900px;
    text-align: center;
    float: left;
    font-size: 70;
    margin-top:-30px;
}
.lvl10botcont{
    width: 900px;
    height: 230px;
    background-color: rgba(0, 0, 0, 0.705);
    float:left;
    margin-left: -25px;
    
}
.lvl10botcont1{
    width: 900px;
    height: 170px;
    float:left;
    margin-top: 50px;
    margin-left: -25px;
}
/*Ends Here*/

/*
Base
End Here
*/

/*Button Style*/
/*Start Here*/
.button{
    padding:15px 25px;
    width: 180px;
    height:80px; 
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border:none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-left: 14px;
    margin-top:13px;
}

.button:hover {
    background-color: #3e8e41
}
.button:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
 }

 .tbutton1{
    padding:15px 25px;
    width: 140px;
    height:70px; 
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border:none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-left: -30px;
    margin-top:13px;
}

.tbutton1:hover {
    background-color: #3e8e41
}
.tbutton1:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
 }

 .tbutton2{
    padding:15px 25px;
    width: 140px;
    height:70px; 
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border:none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-left: 30px;
    margin-top:-60px;
}

.tbutton2:hover {
    background-color: #3e8e41
}
.tbutton2:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
 }

@keyframes fadein1{
    from{ opacity: 0;}
    to{ opacity:1;}
}
@-webkit-keyframes fadein1{
    from{ opacity:0;}
    to{opacity:1;}
}
@keyframes fadein2{
    from{ opacity: 0;}
    to{ opacity:1;}
}
@-webkit-keyframes fadein2{
    from{ opacity:0;}
    to{opacity:1;}
}
@keyframes fadein3{
    from{ opacity: 0;
    transform: scale3d(0.3,0.3,0.3);}
        50%{
            opacity:1;
        }
}
/*
Button Animation
End Here
*/
/*Total Score*/
/*Start Here*/
#total{
    text-shadow:2px 2px pink;
    display:none;
    background-color: rgba(255, 255, 255, 0.534);
    width: 800px;
    text-align: center;
    height:550px;
    border-left: 20px solid green;
    border-right: 20px solid green;
    border-top: 20px solid green;
    border-bottom: 20px solid green;
    margin-top: 30px;
    margin-left:190px;
    font-size: 25;
    color: black;
}
.bt{
    margin-top:70px;
    margin-left:120px;
    float:left;
}
/*Ends Here*/